<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Money Tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FACEF071DF70DFE00A7EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FACEF1D1DF70DFF00A7EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FACEF281DF70DFF00A7EF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
